# Core functionality - changes here should be rare!
/src/app.py                   @jaison-invillia
/src/backend/database.py      @jaison-invillia
/src/backend/routers/auth.py  @jaison-invillia

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jaison-invillia
